@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__span-accent/two-columns__span-accent.css);

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
