@import url(./__brief/two-columns__brief.css);
@import url(./__main-text/two-columns__main-text.css);

.two-columns {
  display:flex;
  justify-content: space-between;
  margin: 100px auto 0;
  width: 80%;
}
